.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #68b738;

  &--accent {
    background-color: #f2f2f2;
    color: #444444;
  }
}

