.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #68b738;
  display: block;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;

  &--accent {
    background-color: #f2f2f2;
    color: #444444;

    @media (min-width: 768px) {
      margin: 0 auto;
    }
  }
}
