.how-it-works {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 29px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    width: 709px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 22px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
      z-index: 2;
      left: 0;
      bottom: 4px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.how-it-works__discription {
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 24px;
  padding-left: 81px;
  margin-left: 1px;

  &--transfertwo {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--transferone {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    padding-top: 109px;
    padding-bottom: 57px;
  }

  &--benefit {
    background-image: url("../img/benefit-icon.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-size: 80px auto;
      width: 80px;
      height: 80px;
    }
  }

  &--usage {
    background-image: url("../img/usage-icon.svg");
    background-repeat: no-repeat;


    @media (min-width: $tablet-width) {
      background-size: 80px auto;
      width: 80px;
      height: 80px;
    }
  }

  &--method {
    background-image: url("../img/method-icon.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-size: 80px auto;
      width: 80px;
      height: 80px;
    }
  }

  &--time {
    background-image: url("../img/time-icon.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-size: 80px auto;
      width: 80px;
      height: 80px;
    }
  }
}

.how-it-works__item {
  p {
    width: 204px;

    @media (min-width: $tablet-width) {
      width: 250px;
    }
  }
  counter-increment: index;
  position: relative;

  &::after {
    @media (min-width: $tablet-width) {
      content: counters(index, ".", decimal) "";
      font-family: "Oswald", "Arial", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 280px;
      line-height: 280px;
      position: absolute;
      color: #f2f2f2;
      top: -37px;
      right: 0;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    margin-right: 94px;
  }
}

.how-it-works__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  counter-reset: index;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 280px 280px;
    gap: 37px 134px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: flex;
    gap: 0;
    justify-content: space-between;
  }
}

.how-it-works__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-left: 2px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 7px;
  }
}
