.programms__conteiner {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.programms__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
  }
}

.programms__item {
  background-color: #f2f2f2;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.programms__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 92px;
  margin: 0;

  &--slim::before {
    content: "";
    position: absolute;
    background-image: url("../img/cat-back.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 53px;
    top: 21px;
    left: 23px;

    @media (min-width: $tablet-width) {
      background-size: 197px auto;
      width: 200px;
      height: 211px;
      top: 80px;
      left: 449px;
    }

    @media (min-width: $desktop-width) {
      background-size: 100px auto;
      width: 105px;
      height: 110px;
      top: 39px;
      left: 52px;
    }
  }

  &--gain::before {
    content: "";
    position: absolute;
    background-image: url("../img/cat-walk.svg");
    background-repeat: no-repeat;
    width: 67px;
    height: 50px;
    top: 24px;
    left: 14px;


    @media (min-width: $tablet-width) {
      background-size: 268px auto;
      width: 268px;
      height: 200px;
      top: 92px;
      left: 413px;
    }

    @media (min-width: $desktop-width) {
      background-size: 134px auto;
      width: 134px;
      height: 100px;
      top: 47px;
      left: 33px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-left: 53px;
    padding-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 214px;
    padding-bottom: 73px;
  }
}

.programms__discription {
  max-width: 227px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  margin: 0 auto;
  margin-left: 21px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-left: 53px;
    max-width: 340px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    padding-bottom: 40px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 457px;
    padding-left: 52px;
    padding-bottom: 29px;
  }
}

.programms__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  margin-left: 21px;
  display: block;
  padding-top: 14px;
  padding-bottom: 19px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  svg {
    padding-left: 12px;
    margin-bottom: 1px;

    @media (min-width: $tablet-width) {
      padding-left: 21px;
      margin-bottom: 3px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 53px;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    margin: 0;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 61px;
  }
}
