.promo {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background-image: url("../img/cat-main-cover.jpeg");
  background-repeat: no-repeat;
  top: 0;
  background-position: center top;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-main-cover@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    width: 709px;
    padding-left: 30px;
    padding-right: 30px;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 100%;
    background-image: url("../img/cat-main-cover-big.jpeg");
    background-repeat: no-repeat;
    top: 0;
    background-position: right top;
    padding-left: 110px;
    padding-right: 110px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-main-cover-big@2x.jpg");
      background-size: 720px auto;
    }
  }
}

.promo__pic-conteiner {
  position: absolute;
  background-color: rgba(104, 183, 56, 0.85);
  width: 100%;
  height: 302px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 302px;
    background-color: #4f4e52;
    z-index: -2;

    @media (min-width: $tablet-width) {
      background-color: transparent;
      width: 709px;
    }

    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      background-color: #4f4e52;
      width: 100%;
      height: 694px;
      right: 0;
      z-index: -3;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
    width: 709px;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(104, 183, 56, 0.85);
    width: 50%;
    height: 694px;
    right: 0;
  }
}

.promo__button {
  display: block;
  text-decoration: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: relative;
    bottom: 582px;
    left: 62px;
    font-size: 20px;
    padding-top: 17px;
    padding-bottom: 19px;
    width: 244px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    left: 80px;
    bottom: 298px;
  }
}


.promo__headline {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  max-width: 250px;
  margin: 0 auto;
  margin-left: 17px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: #111111;
    font-size: 60px;
    line-height: 60px;
    max-width: 460px;
    text-align: left;
    margin: 0;
    padding-left: 58px;
    padding-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 173px;
    left: 21px;
  }
}

.promo__information-conteiner {
  margin: 0 auto;
  position: relative;
  width: 280px;
  padding-top: 27px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 709px;
    padding-top: 51px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.promo__product-pic {
  margin: 0 auto;
  margin-left: 1px;

  @media (min-width: $tablet-width) {
    position: relative;
    right: 31px;
    z-index: -1;
    width: 709px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 552px;
    height: auto;
    left: 447px;
    bottom: 109px;
    z-index: 1;
  }
}

.promo__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  padding-bottom: 29px;
  max-width: 198px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    max-width: 283px;
    text-align: left;
    margin: 0;
    padding-left: 60px;
    padding-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 171px;
    left: 20px;
  }
}

.promo__img {
  @media (min-width: $tablet-width) {
    height: 610px;
  }

  @media (min-width: $desktop-width) {
    height: 525px;
  }
}
