.footer {
  background-color: #f2f2f2;
  width: 100%;
}

.footer__academy-logo-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 40px;
  cursor: pointer;
}

.footer__conteiner {
  margin: 0 auto;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 23px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 33px;
  }
}

.footer__logo {
  display: block;
  padding-top: 37px;
  padding-bottom: 19px;
  margin: 0 auto;
  margin-right: 76px;
  cursor: pointer;

  &:hover,
  &:focus {
    path {
      fill: #3e3e3e;
    }
  }

  &:active {
    path {
      fill: #6b6b6b;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 142px;
    height: 26px;
    padding-left: 2px;
    padding-top: 14px;
  }
}

.footer__social {
  width: 280px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border-top: none;
    border-bottom: none;
  }
}

.footer__logo-text {
  margin: 0;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    padding-right: 27px;
    padding-top: 16px;
  }
}

.footer__logo-svg {
  @media (min-width: $tablet-width) {
    padding-top: 14px;
  }
}
