.navigation {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 280px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;


  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 708px;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    padding-top: 53px;
    width: 1220px;
    justify-content: space-between;
    z-index: 2;
  }

  &--catalog {
    @media (min-width: $desktop-width) {
      position: relative;
      top: 0;
      width: 1220px;
      padding-top: 55px;
      padding-bottom: 44px;
    }
  }
}

.navigation__list {
  margin: 0 auto;
  padding: 0;

  @media (max-width: 320px) {
    background-color: #ffffff;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin: 0;
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    width: 480px;
  }
}

.navigation__toogle {
  display: block;
  background-color: transparent;
  width: 50px;
  height: 53px;
  padding: 26px;
  border: none;
  position: relative;
  cursor: pointer;


  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation--close .navigation__toogle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 13px;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  cursor: pointer;
}

.navigation--open .navigation__toogle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 13px;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.navigation__logo {
  display: flex;
  align-items: center;
  margin-right: 50px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.navigation__header-conteiner {
  display: flex;
  width: 280px;
  min-height: 64px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

@media (min-width: 280px) and(max-width: 767px) {
  .navigation--close .navigation__list {
    display: none;
  }
}

.navigation--nojs .navigation {
  display: block;
  position: static;
  min-height: 0;
}
