.navigation {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 708px;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }

  @media (min-width: 1220px) {
    position: absolute;
    padding-top: 69px;
    width: 1220px;
    justify-content: space-between;
  }

  &--catalog {
    @media (min-width: 1220px) {
      position: relative;
      top: 0;
      width: 1220px;
      padding-top: 59px;
      padding-bottom: 74px;
    }
  }
}

.navigation__list {
  margin: 0 auto;
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin: 0;
  }
}

.navigation__toogle {
  @media (min-width: 768px) {
    display: none;
  }
}

.navigation__logo {
  display: flex;
  align-items: center;
}
