.partnership {
  position: relative;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    width: 709px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    padding: 0;
  }

  &--modification {
    width: 280px;
    margin: 0 auto;
    background-color: transparent;
    padding-bottom: 25px;
    padding-top: 22px;


    @media (min-width: $tablet-width) {
      background-color: transparent;
      padding-top: 42px;
      width: 709px;
      margin: 0 auto;
      padding-bottom: 62px;
    }

    @media (min-width: $desktop-width) {
      background-color: #ffffff;
      width: 565px;
      margin: 0;
      padding: 0;
      padding-bottom: 12px;
    }
  }
}

.partnership__adress {
  line-height: 20px;
  color: #444444;
  font-style: normal;

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding-top: 10px;
    max-width: 160px;
    font-size: 16px;
    text-align: right;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    text-align: left;
    padding-top: 54px;
    padding-right: 75px;
    padding-bottom: 31px;
  }

  &--transfer {
    @media (min-width: $tablet-width) {
      display: inline-block;
      padding-top: 22px;
      padding-right: 0;
    }


    @media (min-width: $desktop-width) {
      padding-top: 19px;
    }
  }

  &--br-mod {
    br {
      display: none;

      @media (min-width: $desktop-width) {
        display: block;
      }
    }
  }

  &--nottransfer {
    br {
      display: none;

      @media (min-width: $desktop-width) {
        display: block;
      }
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }
}

.partnership__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 16px;
  margin: 0;
  width: 311px;
  padding-right: 13px;
  padding-left: 1px;


  @media (min-width: $tablet-width) {
    max-width: 172px;
    font-size: 20px;
    line-height: 26px;
    padding-left: 41px;
    padding-top: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 155px;
    padding-top: 56px;
    padding-left: 80px;
    padding-bottom: 27px;
  }
}
