.social__list {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  width: 132px;
  justify-content: space-between;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
    margin-left: 87px;
  }
}

.social__link {
  display: block;
  background-repeat: no-repeat;
  width: 28px;
  height: 22px;
  fill: #666666;

  &:hover,
  &:focus {
    fill:#5eaa2f;
  }

  &:active {
    path {
      fill: #5eaa2f;
      opacity: 0.3;
    }
  }
}
