.card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}
