.card {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
}

.card__button {
  grid-column: 1/-1;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card__description-list {
  grid-column-start: 2;
}

.card__description-text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.card__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 33px;
}

.card__list {
  list-style-type: none;
  padding: 0;
}

.card__show-more-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.card__title-link {
  text-decoration: none;
}

.card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}
