.card {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;


  @media (min-width: 768px) {
    width: 709px;
  }

  @media (min-width: 1220px) {
    width: 1440px;
  }
}

.card__button {
  grid-column: 1/-1;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card__description-list {
  grid-column-start: 2;
}

.card__description-text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.card__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 33px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card__list {
  list-style-type: none;
  padding: 0;

  @media (min-width: 768px) {
    width: 709px;
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: repeat(4, 511px);
    gap: 60px 60px;
    align-items: baseline;
  }

  @media (min-width: 1220px) {
    width: 1220px;
    grid-template-columns: repeat(4, 245px);
    grid-template-rows: repeat(2, 511px);
    gap: 63px 80px;
    align-content: center;
  }
}

.card__show-more-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.card__title-link {
  text-decoration: none;
}

.card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
    max-width: 134px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
}
