.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 41px;
  width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 51px;
    padding-bottom: 71px;
    width: fit-content;
  }

  @media (min-width: $desktop-width) {
    padding-top: 21px;
    padding-bottom: 65px;
  }
}
