.extra-goods {
  width: 100%;
  margin: 0 auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #68b738;
    top: 38px;
    z-index: -1;
  }
}

.extra-goods__aside-text {
  font-size: 16px;
  margin: 0;
  text-align: center;
  color: #ffffff;
  width: 161px;
  position: absolute;
  z-index: 3;
  top: 187px;
  left: 58px;

  @media (min-width: $tablet-width) {
    top: 78px;
    left: 422px;
  }

  @media (min-width: $desktop-width) {
    top: 185px;
    left: 40px;
  }
}

.extra-goods__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 36px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 21px;
  position: relative;
  background-color: #ffffff;
  width: fit-content;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding-bottom: 80px;
    padding-left: 37px;
    padding-right: 36px;
  }
}

.extra-goods__wrapper {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 709px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
    display: flex;
    flex-direction: column;
  }
}

.extra-goods__aside-wrapper {
  display: block;
  position: relative;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 709px;
    margin-bottom: 76px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 279px;
    height: 289px;
    background-color: #68b738;
    opacity: 85%;
    z-index: 2;

    @media (min-width: $tablet-width) {
      width: 707px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
      height: 288px;
    }
  }

  &::after {
    content: "";
    background-image: url("../img/catalog/icon-gift.png");
    position: absolute;
    left: 101px;
    top: 58px;
    width: 78px;
    height: 80px;
    z-index: 3;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/icon-gift@2x.png");
      background-size: 78px auto;
    }

    @media (min-width: $tablet-width) {
      left: 77px;
      top: 56px;
    }

    @media (min-width: $desktop-width) {
      left: 84px;
      top: 55px;
    }
  }
}

.extra-goods__card-aside-wrapper {
  @media (min-width: $desktop-width) {
    width: 1220px;
    display: flex;
  }
}
