.product-features {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product-features__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    width: 250px;
    padding-bottom: 9px;
    padding-top: 5px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: 1220px) {
    width: 170px;
  }
}
