.quality__button {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-column: 1/-1;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    grid-column: -2/-1;
  }
}

.quality__description-text {
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    text-align: end;
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    margin-right: 50px;
  }
}

.quality__description-cost {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  text-align: end;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}


.quality__item {
  position: relative;

  &:not(:last-child)::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: #cdcdcd;
      bottom: 0;
    }
  }
}

.quality__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;


  @media (min-width: $tablet-width) {
    width: 706px;
    border: 1px solid #cdcdcd;
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 894px;
    padding-right: 80px;
    border: none;
  }
}

.quality__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.quality__title-link {
  grid-column: 1/-1;
  padding-top: 12px;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    padding: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
  }
}

.quality__item-conteiner {
  display: grid;
  margin-bottom: 19px;
  border-top: 1px solid #cdcdcd;
  grid-template-columns: 140px 140px;

  p {
    padding-bottom: 16px;


    @media (min-width: $tablet-width) {
      padding: 0;
      margin-bottom: 24px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    width: 632px;
    display: grid;
    grid-template-columns: 1fr 181px 43px;
    padding-top: 26px;
    padding-bottom: 28px;
    align-items: flex-end;
    margin: 0 auto;
    margin-bottom: 1px;
  }

  @media (min-width: $desktop-width) {
    width: 895px;
    display: grid;
    grid-template-columns: 324px 244px 85px 244px;
    align-content: flex-start;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 17px;
  }
}
