.quality__button {
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: 768px) {
    display: grid;
    grid-column: 1/-1;
    width: 100%;
  }

  @media (min-width: 1220px) {
    width: 244px;
    grid-column: -2/-1;
  }
}

.quality__description-text {
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 16px;
  }
}

.quality__description-cost {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  text-align: end;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: 1220px) {
    margin-right: 40px;
  }
}


.quality__item {
  display: grid;
  margin-bottom: 19px;
  border-top: 1px solid #cdcdcd;
  grid-template-columns: 140px 140px;

  span {
    padding-bottom: 12px;

    @media (min-width: 1220px) {
      padding: 0;
    }
  }

  @media (min-width: 768px) {
    width: 709px;
    display: grid;
    grid-template-columns: 1fr 181px 43px;
    padding-top: 26px;
    padding-bottom: 28px;
    border-top: 1px solid #cdcdcd;
    align-items: center;
  }

  @media (min-width: 1220px) {
    width: 895px;
    display: grid;
    grid-template-columns: 324px 229px 85px 244px;
    align-content: flex-start;
  }
}

.quality__item:last-child {
  @media (min-width: 768px) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.quality__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    width: 709px;
  }

  @media (min-width: 1220px) {
    display: block;
    width: 894px;
    padding-right: 80px;
  }
}

.quality__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.quality__title-link {
  grid-column: 1/-1;
  padding-top: 13px;
  padding-bottom: 13px;

  @media (min-width: 768px) {
    grid-column: 1/2;
  }
}
