.form {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 13px;
}

.form__button {
  width: 280px;
  border: 0;
  margin-bottom: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 284px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
  }
}

.form__legend {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 11px;
  background-color: #ffffff;
  width: max-content;
  display: block;
  padding-right: 22px;
  padding-left: 18px;
  padding-top: 28px;
  margin-left: -18px;

  br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 56px;
    margin-bottom: 56px;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: -40px;
  }

  &--сontact-details {
    @media (min-width: $tablet-width) {
      padding-top: 56px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 32px;
    }
  }

  &--comments {
    padding-top: 0;
    margin-bottom: 27px;

    @media (min-width: $tablet-width) {
      padding-top: 36px;
      margin-bottom: 69px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 21px;
    }
  }

  &--more-details {
    padding-top: 5px;
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      margin-bottom: 59px;
      padding-top: 45px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 60px;
    }
  }
}

.form__list {
  list-style-type: none;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 2px;
  }
}

.form__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 226px;
  margin: 0;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 69px;
    width: 323px;
    padding-left: 2px;
  }
}

.form__fields-conteiner {
  width: 100%;
}

.form__interview-conteiner {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 630px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
    display: grid;
    grid-template-columns: 569px 568px;
    column-gap: 80px;
    padding-bottom: 17px;
  }
}

.form__label {
  margin-right: 12px;
  min-width: fit-content;

  &--email {
    @media (min-width: $tablet-width) {
      margin-right: 22px;
      margin-left: 2px;
    }
  }

  &--tel {
    @media (min-width: $tablet-width) {
      margin-right: 22px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.form__item {
  height: 45px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }
}

.form__input {
  &:not(:placeholder-shown):invalid {
    border-color: #ff8282;
  }

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 21px;
  padding-right: 16px;
  border: 1px solid #e7e7e7;
  min-width: 131px;
  flex-grow: 1;
  box-sizing: border-box;
  outline: none;

  &:hover {
    border-color: #444444;
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0 2px #444444;
  }

  &--tel,
  &--email {
    padding-left: 13px;

    @media (min-width: $tablet-width) {
      padding-left: 18px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

.form__headline-wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 630px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.form__fields-second {
  position: relative;
}

.form__fieldset {
  border: none;
  padding: 0;
  position: relative;
  margin: 0;

  &--contact-details {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #68b738;
      top: 43px;
      z-index: -1;

      @media (min-width: $tablet-width) {
        top: 78px;
      }

      @media (min-width: $desktop-width) {
        top: 53px;
      }
    }
  }

  &--comments {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #68b738;
      top: 14px;
      z-index: -1;

      @media (min-width: $tablet-width) {
        top: 58px;
      }

      @media (min-width: $desktop-width) {
        top: 43px;
      }
    }
  }

  &--more-details {
    @media (min-width: $tablet-width) {
      margin-bottom: 46px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #68b738;
      top: 19px;
      z-index: -1;

      @media (min-width: $tablet-width) {
        top: 66px;
      }

      @media (min-width: $desktop-width) {
        top: 69px;
      }
    }
  }
}

.form__comments {
  width: 262px;
  height: 139px;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  position: relative;
  top: 6px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 14px;
  padding-top: 8px;
  outline: none;
  margin-bottom: 10px;

  &:hover {
    border-color: #444444;
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0 2px #444444;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 9px;
    height: 161px;
    width: 609px;
    top: 1px;
    padding-left: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 1197px;
    height: 162px;
  }
}

.form__note {
  width: 280px;
  display: inline-block;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 48px;
    right: 126px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    bottom: 47px;
    right: 452px;
  }
}

.form__input-iconemeil {
  fill: none;
  stroke: #000000;
}

.form__input-icontel {
  fill: none;
  stroke: #000000;
}

.form__input--email + .form__input-iconemeil {
  position: absolute;
  right: 13px;
  top: 18px;
}

.form__input--tel + .form__input-icontel {
  position: absolute;
  right: 13px;
  top: 18px;
}

.form__headline {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 54px;
    padding-top: 51px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 55px;
    padding-top: 19px;
  }
}

.form__wrapper {
  border: 0;
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 630px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
