.more-details {
  margin-bottom: 27px;
}

.more-details__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 221px 221px;
    column-gap: 123px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 325px 325px 325px 205px;
    column-gap: 0;
    padding-bottom: 23px;
  }
}

.more-details__item {
  padding-bottom: 7px;
  position: relative;
}

.more-details__input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  left: -4px;
  top: -2px;

  &:hover,
  &:focus {
    border-color: #bababa;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: -22px;
  }
}

.more-details__input[type="checkbox"]:checked::before {
  content: url("../img/tick.svg");
  position: absolute;
  width: 24px;
  height: 18px;
  left: 2px;

  @media (min-width: $tablet-width) {
    left: 7px;
    top: 8px;
  }
}

.more-details__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 9px;
  margin-bottom: 6px;
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    line-height: 27px;
    font-size: 20px;
    margin-left: 14px;
    margin-bottom: 38px;
    padding: 0;
  }
}

.more-details__label {
  display: flex;
  align-items: center;
}
