.partnership-form {
  margin: 0 auto;
  width: 280px;

  @media (min-width: 768px) {
    width: 709px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 273px;
    margin-top: -134px;
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
