.purpuse__list {
  list-style-type: none;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin-top: 46px;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-top: 76px;
    padding-bottom: 8px;
    padding-top: 27px;
    padding-left: 27px;
    border: 1px solid #d9d9d9;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.purpuse__item {
  margin-bottom: 13px;
}

.purpuse__control {
  position: relative;
  min-height: 40px;
}

.purpuse__input[type="radio"] {
  appearance: none;
  --webkit-appearance: none;
}

.purpuse__mark {
  position: absolute;
  width: 28px;
  height: 27px;
  left: 0;
  border-radius: 50%;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    width: 38px;
    height: 37px;
    left: 2px;
    top: -10px;
  }
}

.purpuse__input[type="radio"]:checked + .purpuse__mark::after {
  position: absolute;
  content: "";
  left: 7px;
  top: 7px;
  width: 14px;
  height: 14px;
  background-color: #68b738;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: 10px;
    top: 10px;
    width: 17px;
    height: 17px;
  }
}

.purpuse__input[type="radio"]:disabled {
  background-color: #eeeeee;
}

.purpuse__description {
  display: inline-block;
  margin-left: 33px;
  margin-bottom: 5px;
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 27px;
    margin-left: 50px;
    margin-bottom: 9px;
    padding-top: 4px;
  }
}
